*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    counter-reset: Serial;  
}
.container{
  width: 70%;
  height: 100%;

}
table {
    font-family:sans-serif;
    border-collapse:collapse;
    width: 100%;
    margin: 20px 0;
    /* position: relative; */

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

tr td:first-child:before{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:counter(Serial);        /* Display the counter *//
}
  tr:nth-child(even) {
    background-color:rgba(219, 195, 241, 0.5);

  }

  .operations{
    width: 70%;
    display: flex;
    justify-content: space-around;
  }

  .update_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color:rgba(219, 195, 241, 0.59);
    width: 100%;
    padding:15px 0;
    transition: all .5s ease-in-out;
}
  .update_form input{
    width: 70%;
    color:black;
    font-size: 15px;
    background-color:rgb(219, 195, 241);
    margin: 5px 0;
    border-radius: 4px;
    padding:10px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    font-weight: 700;

  }
   button{
    background-color:blueviolet;
    border-radius:5px;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border: none;
    outline: none;
    transition: all .8s ease-in-out;
    margin-top:10px;
    transition: .5s linear;
  }
  button:hover{
    background-color:rgba(137, 43, 226, 0.607);
  }
